.logo {
    width: 10vmax;
    margin: 0;
    padding: 0;
}

.logo:hover {
    width: 9vmax !important;
}

.navbar {
    /* background-color: rgb(34, 33, 33); */
    /* color: white; */
    /* height: 6vmax !important; */
    /* margin-bottom: 0 !important; */
}

.nav-link {
    font-family: "Roboto" !important;
}

.nav-link:hover {
    color: #eb4034 !important;
    transition: all 0.5s;
}

.btn {
    outline: none !important;
}

.btn:hover {
    background-color: #eb4034 !important;
}

.rows {
    width: 100%;
    margin: auto;
    border: 2px solid red;

}