.logo {
    width: 10vmax;
    margin: 0;
    padding: 0;
}

.logo:hover {
    width: 9vmax !important;
}

.navbar {
    /* background-color: rgb(34, 33, 33) !important; */
    /* border: 2px solid red !important; */
    /* color: white; */
    height: auto !important;
    /* height: vmax !important; */
    /* margin-bottom: 0 !important; */
}

.nav-link {
    font-family: "Roboto" !important;
}

.nav-link:hover {
    color: #eb4034 !important;
    transition: all 0.5s;
}

.btn {
    outline: none !important;
}

.btn:hover {
    background-color: #eb4034 !important;
}

.rows {
    width: 100%;
    margin: auto;
    border: 2px solid red;

}


/* .userOption {
    border: 2px solid black;
} */



.speedDialIcon {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    /* display: none; */
    /* border: 2px solid red; */
}

.speedDial>button {
    background-color: #f8f9fa;
    width: 50px;
    height: 50px;

}

.speedDial {
    /* border: 2px solid red; */
    height: 0;
    /* background-color: white; */
    margin-left: 2vmax;
    margin-bottom: 2vmax;
}